####   Exercises: Day 8

In [1]:
dog = {}
print(dog)

{}

In [2]:
dog["name"] = "Fido"
dog["color"] = "brown"
dog["breed"] = "Labrador"
dog["legs"] = 4
dog["age"] = 3
print(dog["age"])

3

In [ ]:
student = {
    "first_name": "John",
    "last_name": "Doe",
    "gender": "male",
    "age": 25,
    "marital_status": "single",
    "skills": ["Python", "Java"],
    "country": "Nigeria",
    "city": "New York",
    "address": "123 Main St."
}

In [4]:
student = {
    "first_name": "John",
    "last_name": "Doe",
    "gender": "male",
    "age": 25,
    "marital_status": "single",
    "skills": ["Python", "Java"],
    "country": "USA",
    "city": "New York",
    "address": "123 Main St."
}
length = len(student)
print(length)

9

In [5]:
skills = student["skills"]
print(skills)  # Output: ['Python', 'Java']
print(type(skills))

['Python', 'Java']
<class 'list'>

In [6]:
student["skills"].append("JavaScript")
student["skills"].extend(["SQL", "HTML"])
print(student["skills"])

['Python', 'Java', 'JavaScript', 'SQL', 'HTML']

In [7]:
keys = list(student.keys())
print(keys)

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [8]:
values = list(student.values())
print(values)

['John', 'Doe', 'male', 25, 'single', ['Python', 'Java', 'JavaScript', 'SQL', 'HTML'], 'USA', 'New York', '123 Main St.']

In [9]:
tuples = list(student.items())
print(tuples)

[('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'male'), ('age', 25), ('marital_status', 'single'), ('skills', ['Python', 'Java', 'JavaScript', 'SQL', 'HTML']), ('country', 'USA'), ('city', 'New York'), ('address', '123 Main St.')]

In [10]:
del student["city"]
print(student)

{'first_name': 'John', 'last_name': 'Doe', 'gender': 'male', 'age': 25, 'marital_status': 'single', 'skills': ['Python', 'Java', 'JavaScript', 'SQL', 'HTML'], 'country': 'USA', 'address': '123 Main St.'}

In [1]:
del dog

NameError: name 'dog' is not defined