# Introduction

# Day 1 - 30DaysOfPython Challenge

In [1]:
print (2 + 3)

5

# Exercises - Day 1

## Exercise; Day 1 ##

In [1]:


print(4 + 3)            
print(4 - 1)           
print(4 * 3)            
print(3 / 4)             
print(4 ** 3)           
print(4 % 3)           
print(4 // 3)

7
3
12
0.75
64
1
1

'Your name'
'Your family name'
'Your country'
'I am enjoying 30 days of python'

In [3]:

print(10)

10

In [4]:
type(10)

int

In [9]:
type(9.8)

float

In [10]:
type(3.14)

float

In [11]:
type(4 - 4j)

complex

In [13]:
type(['Asabeneh', 'Python', 'Finland'])

list

In [1]:

print(type(10))  
print(type(9.8))  
print(type(3.14))  
print(type(4 - 4j))  
print(type(['Asabeneh', 'Python', 'Finland']))  
print(type('Your name'))  
print(type('Your family name'))  
print(type('Your country'))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

# Exercise 3

Numbers:

* Integer: 10
* Float: 3.14
* Complex: 4 - 4j

*String:

* "Hello World!"

*Boolean:

* True
* False

List:

* ["apple", "banana", "cherry"]

Tuple:

* ("apple", "banana", "cherry")

Set:

* {"apple", "banana", "cherry"}

Dictionary:

* {"name": "John", "age": 30}

In [3]:
# Euclidean distance
import math

x1, y1 = 2, 3
x2, y2 = 10, 8

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print(f"The Euclidean distance between ({x1}, {y1}) and ({x2}, {y2}) is: {distance}")

The Euclidean distance between (2, 3) and (10, 8) is: 9.433981132056603