###  Exercises: Day 7

In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))

7

In [2]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'IBM', 'Facebook', 'Amazon', 'Google', 'Twitter', 'Apple', 'Oracle'}

In [3]:
new_companies = {'Netflix', 'Tesla', 'Meta'}
it_companies.update(new_companies)
print(it_companies)

{'Meta', 'Amazon', 'Twitter', 'Apple', 'Oracle', 'Netflix', 'Facebook', 'Microsoft', 'Google', 'IBM', 'Tesla'}

In [4]:
it_companies.remove('Apple')  # Removes 'Apple'
print(it_companies)

{'Meta', 'Amazon', 'Twitter', 'Oracle', 'Netflix', 'Facebook', 'Microsoft', 'Google', 'IBM', 'Tesla'}

Difference between remove and discard:

remove(element): Removes the specified element from the set. If the element is not found, it raises a KeyError exception.
discard(element): Also removes the specified element, but if the element is not found, it does nothing (no exception is raised).

In [6]:
try:
  it_companies.remove('Netflix')  # Removes 'Netflix' if it exists
except KeyError:
  print("'Netflix' was not found in the set.")

it_companies.discard('Microsoft')

'Netflix' was not found in the set.

###  Exercises: Level 2

In [8]:
joined_set = A.union(B)
print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}

In [9]:
intersection = A.intersection(B)
print(intersection)

{19, 20, 22, 24, 25, 26}

In [10]:
is_subset = A.issubset(B)
print(is_subset)

True

In [11]:
is_disjoint = A.isdisjoint(B)
print(is_disjoint)

False

In [12]:
union_AB = A.union(B)
union_BA = B.union(A)
print(union_AB)  
print(union_BA)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [14]:
symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)

{27, 28}

In [15]:
del A
del B

# Try to print A or B to verify deletion:
print(A)  
print(B)

NameError: name 'A' is not defined

###  Exercises: Level 3

In [16]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]

ages_set = set(ages)

# Compare lengths
if len(ages) > len(ages_set):
    print("List is bigger, with duplicates.")
elif len(ages) < len(ages_set):
    print("Set is bigger, with unique elements.")
else:
    print("List and set have the same length (no duplicates).")

List is bigger, with duplicates.

String: An ordered sequence of characters used to represent text. Enclosed in single or double quotes. Immutable.

List: An ordered collection of items, which can be of different data types. Enclosed in square brackets, mutable.

Set: An unordered collection of unique elements. Used for membership testing and removing duplicates. Enclosed in curly braces.

In [17]:
sentence = "I am a teacher and I love to inspire and teach people."

words = sentence.split()  
unique_words = set(words)  

print("Number of unique words:", len(unique_words))

Number of unique words: 10